*{
    margin: 0;
    padding: 0;
    outline: none;
}

@media(prefers-color-scheme:dark) {
    #titlebar {
        background-color: rgb(60,60,60);
        color: white;
    }
    #titlebar img {
        filter: invert(1);
    }
    #text-input {
        color: white;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(30,30,30);
}

#titlebar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    user-select: none;
    font-size: 14px;
    height: 30px;
}
#titlebar > div {
    display: inline-flex;
    
}

/* menu */
#menu {
    display: flex;
    margin-left: 5px;
}
.menu-button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.menu-button-name {
    padding: 0 8px;
    line-height: 22px;
    transition: .1s;
    border-radius: 5px;
}
.menu-button-name:hover {
    background-color: rgb(4, 57, 94);
}
.submenu {
    position: absolute;
    border-radius: 5px;
    background-color: rgb(37,37,38);
    padding: 5px;
    top: 25px;
    border: 1px solid dimgray;
}
.submenu > div {
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
}
.submenu > div:hover {
    background-color: rgb(4, 57, 94);
    cursor: pointer;
}

#window-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
#icon {
    font-size: 12px;
}

/* window-controls */
#window-controls > div {
    display: inline-flex;
    width: 46px;
    justify-content: center;
    align-items: center;
    transition: .1s;
}
#window-controls img {
    width: 20px;
    height: 20px;
}
#titlebar-minimize:hover {
    background-color: #ffffff4d;
}
#titlebar-maximize:hover {
    background-color: #ffffff4d;
}
#titlebar-close:hover {
    background-color: red;
}

#toolbar {
    display: flex;
    background-color: red;
    position: fixed;
}

#text-input {
    margin-top: 25px;
    padding: 10px;
    line-height: 1.7;
}